html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#container {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    width: 50%;
    height: 80%;
    margin: 20px auto 0;
    font: normal 28pt sans-serif;
    color: white;
    background-color: black;
}
#container > div {
    background-color: #555555;
}

#container > div:nth-child(1) {
    grid-row: 4;
    grid-column: 1;
    background-color: #555555;
}
#container > div:nth-child(2) {
    grid-row: 5;
    grid-column: 2;
    background-color: #555555;
}

#container > div:nth-child(3) {
    grid-row: 5;
    grid-column: 3;
    background-color: #555555;
}






/*
#container {
    width: 600px;
    background-color: black;
    margin: 0 auto;
}
div {
    width:75%;
    background-color: aquamarine;
}
div.test{
background-color: deeppink;
transition: height .3s linear;
}
div.test:hover {
    height: 300px;
}
*/
